:root {
  font-size: 62.5%; /* -> 1rem = 10px | 100% -> 1rem = 16px */
  --black: #1f1f23;
  --white-text: #e1e1e6;
  --white-text-weak: #c4c4cc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #131313;
  overflow-x: hidden;
}

.gradient1 {
  position: absolute;
  top: 0;
  left: -5rem;
}

.gradient2 {
  position: absolute;
  top: 0;
  right: -5rem;
}

.wrapper {
  padding-inline: 2.5rem;
  padding-top: 7.1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35.8rem;
  background-color: var(--black);
  color: var(--white-text);
  margin: 14rem auto;
  position: relative;
}

.mask {
  position: absolute;
}

.break {
  position: absolute;
  top: 1.5rem;
  z-index: 1;
}

.ribbon {
  position: absolute;
  top: -14rem;
  z-index: 2;
}

.avatar {
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 16.5rem;
  height: 18.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.card h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  padding-top: 2.4rem;
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.2rem;
}

.github:hover {
  color: var(--white-text);
}

.card a {
  color: var(--white-text-weak);
  text-decoration: none;
  margin-top: 0.5rem;
  line-height: 2.6rem;
}

.card__bio {
  line-height: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.card__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 435px) {
  .gradient1,
  .gradient2,
  .ribbon,
  .break,
  .mask {
    display: none;
  }

  .card {
    background: url(images/background.svg) no-repeat center/cover;
    position: absolute;
    width: 100vw;
    max-height: 100vh;
    min-height: 81.2rem;
    margin: 0;
  }

  .wrapper {
    max-width: 25rem;
    width: auto;
    margin: auto;
    text-align: center;
    color: var(--gray);
  }

  .avatar {
    width: 16rem;
    margin: -3.3rem auto 0;

    position: relative;
  }

  .avatar span {
    position: absolute;
    top: -1.5rem;
    z-index: 1;
  }

  .avatar > img {
    width: 16rem;
    height: 18.4rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  .card h1 {
    font-size: 2.4rem;
    margin-top: 2.4rem;
  }

  .card a {
    color: var(--gray);
    text-decoration: none;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
  }

  .card p {
    margin-top: 3.2rem;
    font-size: 1.6rem;
  }

  .card ul {
    margin-top: 6.4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
  }
}
